a:link {
    color: black;
}

a:visited {
    color: BurlyWood;
}

a:hover {
    color: 	DodgerBlue;
}

body {
    background-color: GhostWhite;
}

.headline {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  font:Lucida;
  font-size:55px;
  font-style: italic;
}

.label {
  width: 30%;
  margin-right: 40%;
  margin-left: 10%;
  margin-bottom: 2%;
}

.cluster {
  width: 90%;
  margin-top: 10px;
  margin-left: 10%;
}

.link {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5%;
  position:relative;
  font:Helvetica;
  font-size:15px;
  font-style: bold;
}
